html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

html, body {
  height: 100%;
}

body {
  background: lightblue;
  font-family: Helvetica;
}

a {
  color: #800000;
  text-decoration: none;
}

.map {
  width: 100%;
  height: 100%;
}

#legend-content {
  display: none;
}

.map-legends .map-legend {
  padding: 0;
}

.days {
  top: 20px;
  right: 20px;
  width: 140px;
}
.days h2, .days a {
  padding: 6px 10px;
}
.days h2 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}
.days a {
  display: block;
  font-size: 14px;
  color: #980065;
}
.days a:hover {
  background: #f7f7f7;
}
.days a.active {
  background: #cb0087;
  color: white;
}
.days a:not(:first-of-type) {
  border-top: 1px solid #f0f0f0;
}
