@import "library";
@import "reset";

// Global templates

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: 960px;
}

// Global tags

html, body {
    height: 100%;
}

body {
    background: lightblue;
    font-family: Helvetica;
}

a {
    color: #800000;
    text-decoration: none;
}

// Everything else

.map {
    width: 100%;
    height: 100%;
}

.days {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 140px;
    background: white;
    border-radius: 5px;

    %list-item {
        padding: 6px 10px;
    }

    h2 {
        @extend %list-item;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
    }

    a {
        @extend %list-item;
        display: block;
        font-size: 14px;
        color: darken(#FE00A9,20%);

        &:hover {
            background: #f7f7f7;
        }

        &.active {
            background: darken(#FE00A9,10%);
            color: white;
        }

        &:not(:first-of-type) {
            border-top: 1px solid #f0f0f0;
        }
    }
}
