<!doctype html>
<html>
<head>
<title>Farmers Markets</title>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<meta charset="utf-8">
<link href='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
<link rel="stylesheet" type="text/css" href="/css/screen.css" media="all">
</head>
<body>

<div class="map" id="map"></div>

<div class="days">
    <h2>Filter markets:</h2>
    <a href="#" id="all">All</a>
    <a href="#" id="sunday">Sunday</a>
    <a href="#" id="monday">Monday</a>
    <a href="#" id="tuesday">Tuesday</a>
    <a href="#" id="wednesday">Wednesday</a>
    <a href="#" id="thursday">Thursday</a>
    <a href="#" id="friday">Friday</a>
    <a href="#" id="saturday">Saturday</a>
</div>

<!-- <script src="/js/jquery.min.js"></script> -->
<script src='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
<script src="/js/underscore-min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/global.js"></script>
<script id="tooltip" type="text/template">
    <h2><%= intersection %></h2>
    <p><%= day %></p>
</script>
</body>
</html>
